
header {
  background-color: $mainblack;
  color: $white;
  padding: 0px;
  margin-bottom: 32px;

  & div {
    display: inline-block;
  }

  input[type=submit] {
    margin-left: 64px;
    background-color: $orange;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }

  img {
    padding-left: 64px;
  }

  button {
    background-color: $orange;
    border-radius: 50px;
    border: none;
    padding: 4px 24px;
    margin-left: 8px;
    &:hover {
      background-color: $white;
      border: 1px solid $orange;
      color: $orange;
    }
  }

  .mainNavbar {
    padding-left: 156px;
    .navItem {
      padding: 32px 40px;
      //background-color: red;
      &:hover {
        animation: fadein .2s ease-out;
        animation-fill-mode: forwards;
        background-color: $orange;
        cursor: pointer;
      }
    }
  }

  .mainNavbarIcons {
    padding-left: 280px;
    vertical-align: middle;
    i {
      margin-left: 42px;
      &:nth-child(1):hover {
      color: $orange;
      cursor: pointer;
      }
    }
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
