
header {
  background-color: $mainblack;
  color: $white;
  padding: 0px 64px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  .mainNavbarSearch {
    color: black;
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
  }

  .mainNavbarLogin {
    background-color: $orange;
    border-radius: 50px;
    border: none;
    padding: 4px 24px;
    margin-left: 8px;
    &:hover {
      background-color: $white;
      color: $orange;
    }
  }

  .navItem {
    padding: 32px;
    display: inline-block;
    //background-color: red;
    &:hover {
      animation: fadein .2s ease-out;
      animation-fill-mode: forwards;
      background-color: $orange;
      cursor: pointer;
    }
  }

  .fa-user {
    margin-left: 36px;
  }

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
